@model PortfolioV4.Models.codeFirst.BlogPost

@{
    ViewBag.Title = "View Post";
    
}

<div class="jumbotron loginSnail">
    <h1 class="jumboText">View and Comment</h1>
</div>

<div>
    <h4>BlogPost</h4>
    <p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
    </p>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Slug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slug)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.Raw(Model.Body)
        </dd>

        
        @*<dt>
            @Html.DisplayNameFor(model => model.MediaURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MediaURL)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Published)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Published)
        </dd>

    </dl>


<hr />
</div>
@*======================================================== Blog Posts =========================================================================*@
<div>
    <h4>Comments</h4>

    <button type="button" class="btn btn-default buttonColor" style="margin: 20px 0px">@Html.ActionLink("Create Comment", "Create", "Comments", new { id = Model.Id }, new { @style = "color: white; " })</button>
    <table class="table">
        <tr>
            <th>
                Last Edit
            </th>
            <th>
                Author
            </th>
            <th>
                Comment Text
            </th>
            
            <th></th>
        </tr>
        @foreach (var item in Model.Comments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Updated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Body)
                </td>
                <td>                    
                    @Html.ActionLink("Edit","Edit","Comments", new { id = item.Id }, null) |
                    @Html.ActionLink("Details", "Details", "Comments", new { id = item.Id }, null) |
                    @Html.ActionLink("Delete", "Delete", "Comments", new { id = item.Id },null)
                </td>
            </tr>
           
        }
    </table>
</div>
