@model IEnumerable<PortfolioV4.Models.codeFirst.BlogPost>

@{
    ViewBag.Title = "Index";
   
}


<div class="jumbotron loginSnail">
    <h1 class="jumboText" >Blogs Of History</h1>
</div>

@*@if (Model.MediaURL != null)
{
    <img class="img-responsive" src="@Model.MediaURL" alt="BlogPost" />
}*@

<p>
    <button type="button" class="btn btn-warning buttonColor">@Html.ActionLink("Create New", "Create",null,new {@style="color: white"})</button>
    
</p>
<table class="table" style="text-align: center;">
    <tr style="text-align: center;">
        <th style="text-align: center;">
            Latest Edit
        </th>       
        <th style="text-align: center;">
            @Html.DisplayNameFor(model => model.Title)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Slug)
        </th>*@        
        <th style="text-align: center;">
            @Html.DisplayNameFor(model => model.Published)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

         @*Create Gravatar
            <img class="entry-avatar" height ="52" width = "52" src="http://www.gravatar.com/avatar/[biglongstring]" >  *@
        <td>
            @if (item.Updated == null)
            {
                item.Updated = item.Created;
            }
                       
            @Html.Label(@item.Updated.Value.ToString("M - dd - yy"))

        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Updated)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Slug)
        </td>*@
        
        <td>
            @Html.DisplayFor(modelItem => item.Published)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("View", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
